.details-container {
  display: flex;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.details-content {
  display: flex;
  gap: 20px;
}

.details-poster img {
  border-radius: 8px;
  width: 342px;
  object-fit: cover;
}

.details-info {
  display: flex;
  flex-direction: column;
}

.details-info h1 {
  font-size: 2rem;
}

.details-info h2 {
  margin-top: 20px;
}

.details-flex-container {
  display: flex;
  align-items: flex-start; /* Align items to the start of the flex container */
}

.details-poster {
  flex: 0 0 auto; /* Don't grow, don't shrink, and base the width on content */
  margin-right: 20px; /* Add some space between poster and text */
}

.details-info {
  flex: 1; /* Take up remaining space */
}

.cast-container {
  margin-top: 20px;
}

.cast-member-info {
  text-align: center;
  margin-bottom: 20px;
}

.cast-member-info img {
  border-radius: 50%; /* Circular image */
  margin-bottom: 10px;
}

.card-cast {
  max-width: 100px; /* Decrease the max-width to make the card smaller */
  margin: auto;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.row.flex-nowrap {
  flex-wrap: nowrap;
}

.card-cast {
  display: inline-block;
  width: 160px;
  white-space: normal;
  margin-right: 15px;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.detail-card-body {
  display: flex;
  padding: 0.5rem;
}

.detail-card-title {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.detail-card-text {
  font-size: 0.8rem;
}

.cast-scrolling-container {
  overflow-x: auto;
  white-space: nowrap;
}
.cast-scrolling-container::-webkit-scrollbar {
  height: 8px;
}

.cast-scrolling-container::-webkit-scrollbar-thumb {
  background: #888;
}

.cast-scrolling-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.movie-details-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.btn-watchlist,
.btn-rate,
.btn-favourite,
.btn-trailer {
  background-color: rgb(200, 157, 243);
}

.btn-watchlist:hover,
.btn-rate:hover,
.btn-favourite:hover,
.btn-trailer:hover {
  background-color: rgb(131, 18, 245);
}

.delete-comment-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-comment-btn:hover {
  background-color: darkred;
}

.critic-badge {
  margin-left: 2px;
  background-color: gold;
  color: black;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}
