.movie-list {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 20px;
}

.movie-list::-webkit-scrollbar {
  height: 8px;
}

.movie-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.movie-list::-webkit-scrollbar-track {
  background: white;
}
